#wrapper{
    position: relative;
}

#game #popup .button {
    left:49px;
    bottom:130px;
}

#word{
    color: #fff;
    height: 350px;
    line-height: 350px;
    text-align: center;
    width: 550px;
    float: left;
    position: relative;
    margin-top: 30px;
}

#word b{
    display: inline-block;
    height: 100%;
}

#word > b{
    display: block;
}

#word .clon{
    position: absolute;
    color: #000;
    height: 260px;
    line-height: 260px;
    margin:100px 0 0;
    cursor: pointer;
}

#word .clon.active{
    position: absolute;
}

#image{
    margin: 130px 30px 0;
    width: 205px;
    height: 205px;
    overflow: hidden;
    float: right;
    cursor: pointer;
}